In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Display plots inside the notebook
%matplotlib inline

In [2]:
# Fix randomness so results stay the same
np.random.seed(0)

In [3]:
# Users and dates
user_ids = [101, 102, 103, 104, 105]
dates = pd.date_range(start='2025-01-01', periods=30, freq='D')

In [4]:
# Generate data
rows = []
for user in user_ids:
    for day in dates:
        steps = int(np.random.normal(10000, 3000))
        steps = max(0, steps)
        calories = int(0.04 * steps + np.random.normal(200, 50))
        workout = max(0, int(np.random.normal(30, 15)))
        hr = int(np.random.normal(70, 5))
        rows.append({
            "user_id": user,
            "date": day.strftime('%Y-%m-%d'),
            "steps": steps,
            "calories": calories,
            "workout_min": workout,
            "heart_rate": hr
        })

In [5]:
# Make DataFrame
df = pd.DataFrame(rows)

In [6]:
# Show first 5 rows
df.head()

   user_id        date  steps  calories  workout_min  heart_rate
0      101  2025-01-01  15292       831           44          81
1      101  2025-01-02  15602       775           44          69
2      101  2025-01-03   9690       608           32          77
3      101  2025-01-04  12283       697           36          71
4      101  2025-01-05  14482       769           34          65